html {
  scroll-padding-top: 50px;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  margin: 0;
  font-size: 1.2em;
  padding-top: 0px;
}
#about h2 {
  font-family: "Lato", sans-serif;
}

#about {
  margin-left: 100px;
}

#projects {
  margin-left: 100px;
}
#contact {
  margin-left: 100px;
}
.section {
  padding: 20px;
  margin: 25px;
}

nav a {
  text-decoration: none;
}

#greeting {
  margin-left: 80px;
  position: relative;
  margin-top: 30px;
}

#greeting h1 {
  font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman",
    serif;
}
#greeting h2 {
  font-family: "Lato", sans-serif;
}
#greeting p {
  font-family: "Lato", sans-serif;
}
#projects h2 {
  font-family: "Lato", sans-serif;
}

ul.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  font-family: "Lato", sans-serif;
}

.main-menu a:link,
.main-menu a:visited {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-menu a:hover,
.main-menu a:active {
  background-color: rgba(158, 86, 151, 0.418);
  color: rgb(255, 255, 255);
}

h1,
h2,
h3 {
  font-family: "Julius Sans One", sans-serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 1.6em;
}
h5 {
  background-color: #ffffff;
  border-radius: 28px;
  margin-left: 10px;
  padding: 5px 10px;
  width: fit-content;
  letter-spacing: 0.01em;
  display: inline;
}

p {
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background: #faf3f7;
  width: 100%;
  top: 0;
  /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
  height: 50px;
}

nav * {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 5px 50px 10px 50px;
}

.logo a {
  cursor: pointer;
  color: rgb(90, 3, 64);
}

.logo h2 {
  font-family: "Lobster", cursive;
}

.main-menu {
  height: 100%;
}

.main-menu li {
  height: 100%;
  display: inline-block;
}
/* end nav styles */

/* header styles */
header {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #f1e9f1;
  width: 100%;

  /**
   * This is used so that the header content (e.g. image)
   * does not stretch too much on big screens
   */
}

/**
 * This is a CSS Child Selector (>). Selection all div(s) which are direct children
 * of a header element. More info can be seen here
 * https://redi-school.github.io/nrw-html-and-css-2021-spring/lesson20/#2-css-combinator-selectors
 */
header > div {
  flex: 1;
}

header img {
  width: 70%;
  border-radius: 1000px;
  max-height: 600px;
  margin-top: 60px;
  margin-left: 100px;

  /* learn more about this property
  here https://css-tricks.com/almanac/properties/o/object-fit/  */
  object-fit: cover;
}
/* end header styles */

.section > h2 {
  text-align: center;
}

.mywork a {
  text-decoration: none;
  color: black;
  border-bottom: 3px solid currentColor;
  padding: 10px;
}

.mywork :hover {
  text-decoration: none;
  color: rgb(110, 53, 116);
  border-bottom: 15px solid currentColor;
  padding: 10px;
}
.about a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.section h2 {
  text-align: left;
}

#container-pic img {
  width: 100%;
  display: block;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  float: right;
  max-width: 45%;
  margin-right: 10px;
}

#container-pic img:hover {
  transform: scale(1.1);
}

#container-pic2 img {
  width: 100%;
  display: block;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  float: left;
  max-width: 40%;
  margin-right: 10px;
}

#container-pic2 img:hover {
  transform: scale(1.1);
}

div a {
  text-decoration: none;
  color: black;
}

.full_screen {
  height: 300%;
  top: -100%;
  position: absolute;
  left: 0;
  width: 100%;
  object-fit: contain;
}
