html {
  scroll-padding-top: 50px;
}

* {
  scroll-behavior: smooth;
}
/* for desktop*/
@media only screen and (min-width: 768px) {
  body {
    font-family: "Lato", sans-serif;
    color: #333;
    margin: 0px;
    font-size: 1.2em;
    padding-top: 50px;
  }
  #about h2 {
    font-family: "Lato", sans-serif;
  }

  #about {
    margin-left: 100px;
  }

  #contact {
    margin-left: 100px;
  }

  nav a {
    text-decoration: none;
  }

  #greeting {
    margin-left: 160px;
    position: relative;
    font-size: 1.7em;
  }

  ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
  }

  .main-menu a:link,
  .main-menu a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .main-menu a:hover,
  .main-menu a:active {
    background-color: rgba(158, 86, 151, 0.418);
    color: rgb(255, 255, 255);
  }

  * {
    box-sizing: border-box;
  }

  /* nav styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;

    width: 100%;
    top: 0;
    /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  .logo {
    margin: 5px 50px 10px 50px;
  }

  .logo a {
    cursor: pointer;
    color: rgb(90, 3, 64);
  }

  .logo h2 {
    font-family: "Lobster", cursive;
  }

  .main-menu {
    height: 100%;
  }

  .main-menu li {
    height: 100%;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /*.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}*/
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* end nav styles */

  /* header styles */
  header {
    display: flex;
    align-items: center;
    justify-items: center;
    /* background-color: #FAF3F7; */
    width: 100%;

    /**
   * This is used so that the header content (e.g. image)
   * does not stretch too much on big screens
   */
  }

  /**
 * This is a CSS Child Selector (>). Selection all div(s) which are direct children
 * of a header element. More info can be seen here
 * https://redi-school.github.io/nrw-html-and-css-2021-spring/lesson20/#2-css-combinator-selectors
 */
  header > div {
    flex: 1;
  }
  div a {
    text-decoration: none;
    color: black;
  }

  div.proj {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img2,
  .img3,
  .img4,
  .img5 {
    width: 50%;
    margin-bottom: 20px;
  }
  img:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
  }

  #contact {
    margin-left: 100px;
  }

  .section {
    padding: 20px;
    margin: 25px;
  }
  h2 {
    font-family: "Julius Sans One", sans-serif;
  }
  h2 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.2em;
  }
}

/* for phone*/
@media only screen and (max-width: 768px) {
  body {
    font-family: "Lato", sans-serif;
    color: #333;
    margin: 0px;
    font-size: 1em;
    padding-top: 50px;
  }

  #contact {
    margin-left: 20px;
  }

  nav a {
    text-decoration: none;
  }

  #greeting {
    margin-left: 30px;
    position: relative;
    font-size: 1.4em;
  }

  ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
  }

  .main-menu a:link,
  .main-menu a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .main-menu a:hover,
  .main-menu a:active {
    background-color: rgba(158, 86, 151, 0.418);
    color: rgb(255, 255, 255);
  }

  * {
    box-sizing: border-box;
  }

  /* nav styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;

    width: 100%;
    top: 0;
    /**
     * This height needs to be the same value as the
     * value of the padding-top which is applied on the body.
     * This is needed so that the navigation content and the body
     * content do not collied with each other.
     */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  .logo {
    margin: 5px 20px 10px 20px;
  }

  .logo a {
    cursor: pointer;
    color: rgb(90, 3, 64);
  }

  .logo h2 {
    font-family: "Lobster", cursive;
  }

  .main-menu {
    height: 100%;
  }

  .main-menu li {
    height: 100%;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /*.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: black;
  }*/
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* end nav styles */

  div a {
    text-decoration: none;
    color: black;
  }

  div.proj {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .img2,
  .img3,
  .img4,
  .img5 {
    width: 90%;
    margin-bottom: 20px;
  }
  img:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
  }

  h2 {
    font-family: "Julius Sans One", sans-serif;
  }
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
    font-weight: bold;
  }
}
