* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* for desktop*/
@media only screen and (min-width: 768px) {
  .logo {
    padding: 1% 1% 1% 1%;
  }
  .logo img {
    margin-left: 10%;
    width: 7%;
    height: 7%;
  }
  /* Style the top navigation bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;
    width: 100%;
    top: 0;
    margin-top: 50px;

    /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  /* Style the navigation bar links */
  .nav a {
    text-decoration: none;
  }
  ul.navbars {
    float: right;
    list-style-type: none;
    margin-top: -7.5%;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    padding-right: 6%;
  }
  li.right {
    padding-right: 6%;
  }
  .navbars a:link,
  .navbars a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* Change color on hover */
  .navbars a:hover,
  .navbars a:active {
    color: rgb(8, 8, 8);
    border-bottom: 3px solid currentColor;
    border-color: #bd651e;
  }

  .navbars li {
    height: 100%;
    display: inline-block;
  }
  .navbars li .right1 {
    color: #000000;
    display: none;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 60%;
    border: 3px solid #f3c83d;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: #f3c83d;
  }

  .searchTerm:focus {
    color: rgb(0, 0, 0);
  }

  .searchButton {
    width: 50px;
    height: 30px;
    border: 1px solid #f3c83d;
    background: #f3c83d;
    text-align: center;
    color: #c66d25;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap {
    width: 30%;
    position: absolute;
    top: 7%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  h2 {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    border: 1px solid rgb(190, 190, 190);
    padding: 20px;
    margin-bottom: inherit;
  }

  h1 {
    font-size: 55px;
    margin-top: 3px;
    margin-bottom: 0px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(190, 190, 190);
    margin-bottom: 40px;
  }

  /* Main column */
  .main {
    flex: 45%;
    background-color: rgb(253, 253, 253);
    padding-left: 8px;
    padding-bottom: 0px;
  }
  .map1 {
    display: none;
  }

  .pic {
    flex: 15%;
    background-color: rgb(253, 253, 253);
    margin-top: 134px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 19px;
  }
  .pic img {
    padding-left: 0%;
    width: 70%;
    height: auto;
  }
  p {
    padding-left: 4%;
  }
  /* Footer */

  .open {
    margin-left: 129px;
  }
  #footer {
    padding: 1% 1% 1% 5%;
    color: white;
    background: #a8a8a8;
    margin-top: 0px;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    text-decoration: none;
  }
  .left {
    text-decoration: none;
    flex: 30%;
  }

  .facebook {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 110%;
  }
  .instagram {
    color: #000000;
    text-decoration: none;
    font-size: 110%;
  }
  .middle {
    flex: 30%;
    width: 100%;
    margin-top: 0%;
  }
  div .contct2 {
    font-weight: lighter;
  }

  .right {
    flex: 40%;
    width: 100%;
    margin-top: 0%;
  }
  div .pay img {
    width: 50%;
    height: 0%;
  }
  .design {
    background: #a8a8a8;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
}
/* for phone*/
@media only screen and (max-width: 768px) {
  /* Style the header */

  .logo {
    padding: 3% 1% 1% 1%;
  }
  .logo img {
    margin-left: 10%;
    width: 8%;
    height: 8%;
  }
  /* Style the top navigation bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;
    width: 100%;
    top: 0;
    margin-top: 50px;

    /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  /* Style the navigation bar links */
  .nav a {
    text-decoration: none;
  }
  ul.navbars {
    float: right;
    list-style-type: none;
    margin-top: -9.1%;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    padding-right: 5%;
    text-decoration: none;
  }

  .navbars a:link,
  .navbars a:visited {
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* Change color on hover */
  .navbars a:hover,
  .navbars a:active {
    color: rgb(8, 8, 8);
    border-bottom: 3px solid currentColor;
    border-color: #bd651e;
  }

  .navbars li {
    height: 100%;
    display: inline-block;
  }
  .navbars li .right {
    color: #000000;
    display: none;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #f3c83d;
    border-right: none;
    padding: 4px;
    height: 26px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: #f3c83d;
  }

  .searchTerm:focus {
    color: rgb(0, 0, 0);
  }

  .searchButton {
    width: 50px;
    height: 26px;
    border: 1px solid #f3c83d;
    background: #f3c83d;
    text-align: center;
    color: #c66d25;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap {
    width: 50%;
    position: absolute;
    top: 3.2%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  /* Style the header */
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }
  .myslides {
    display: none;
  }
  .slide {
    flex: 100%;
  }
  .slide img {
    width: 100%;
  }
  p {
    font-size: 0.8em;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0px;
  }
  /* side column */
  .side {
    flex: 10%;
    background-color: #ffffff;
    width: 10%;
  }
  /* Main column */
  .main {
    flex: 70%;
    background-color: rgb(253, 253, 253);
    padding-left: 3px;
    padding-bottom: 1px;
    width: 40%;
  }
  .open {
    margin-left: 23.9%;
    font-size: 80%;
  }
  .map {
    display: none;
  }
  .pic img {
    padding-left: 10%;
    width: 60%;
    height: auto;
  }

  /* Footer */
  #footer {
    padding: 3% 1% 1% 2%;
    color: white;
    background: #a8a8a8;
    margin-top: 20px;
    font-size: 0.6em;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    margin-top: -5%;
  }
  .left {
    flex: 10%;
    width: 100%;
    margin-top: 0%;
  }

  .facebook {
    color: rgb(0, 0, 0);
    font-size: 100%;
    text-decoration: none;
  }
  .instagram {
    color: #000000;
    font-size: 110%;
    text-decoration: none;
  }
  .middle {
    flex: 30%;
    width: 100%;
    margin-top: 0%;
  }
  div .contct2 {
    font-weight: lighter;
  }

  .right {
    flex: 40%;
    width: 100%;
    margin-top: 0%;
  }
  div .pay img {
    width: 100%;
    height: 10%;
  }
  .design {
    background: #a8a8a8;
    color: #000000;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 0.8em;
  }
}
