* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* for desktop*/
@media only screen and (min-width: 768px) {
  /* Style the header */
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 20px;
  }
  .myslides {
    display: none;
  }
  .logo img {
    width: 80px;
    height: 40.5px;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    margin-left: 10%;
  }

  /* Style the navigation bar links */
  .navbar a {
    float: left;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 1% 2%;
    text-decoration: none;
  }
  .navbars {
    padding-top: 13px;
    margin-left: 13%;
  }
  .fa-map-marker {
    width: 15px;
    color: #148339;
  }
  .fa-phone {
    width: 15px;
  }
  /* Right-aligned link */
  .navbars a.right {
    padding-top: 13px;
    float: right;
  }

  /* Change color on hover */
  .navbars a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid currentColor;
    border-color: rgb(36, 172, 138);
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 60%;
    border: 3px solid rgb(112, 255, 219);
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: rgb(112, 255, 219);
  }

  .searchTerm:focus {
    color: rgb(112, 255, 219);
  }

  .searchButton {
    width: 50px;
    height: 30px;
    border: 1px solid rgb(112, 255, 219);
    background: rgb(112, 255, 219);
    text-align: center;
    color: rgb(55, 156, 117);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap {
    width: 30%;
    position: absolute;
    top: 5%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  h2 {
    text-align: center;
    margin-left: 0px;
    font-size: 18px;
    border: 1px solid rgb(190, 190, 190);
    padding: 20px;
    margin-bottom: inherit;
  }

  .slide {
    width: 34.7%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid rgb(190, 190, 190);
    margin-bottom: 50px;
  }
  /* side column */
  .side {
    flex: 10%;
    background-color: #ffffff;
  }
  /* Main column */
  .main {
    flex: 80%;
    background-color: rgb(253, 253, 253);
    padding-right: 5px;
    padding-bottom: 10px;
  }

  div .side ul {
    list-style-type: none;
    padding-right: 0px;
    margin-top: -2px;
    margin-bottom: 0px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    margin-left: -30px;
  }
  div .side ul li {
    /*border-bottom: 1px solid rgb(190, 190, 190);*/
    color: black;
    margin-left: -50px;
    border: 1px solid rgb(190, 190, 190);
    padding: 7px;
    padding-left: 70px;
    margin-bottom: inherit;
  }
  div .side ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  div .side ul li :hover {
    text-decoration: none;
    margin-left: -30px;
    color: rgb(36, 172, 138);
    /* background: linear-gradient(
    to right,
    rgb(26, 167, 101) 26%,
    rgb(255, 255, 255) 25%
  );*/
    padding: 6px;
    padding-left: 30px;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overlay-content {
    position: relative;
    top: 5%;
    padding-left: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 30px;
    background-color: rgb(247, 247, 247);
    padding-top: 10px;
  }

  .overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 16px;
    color: #020202;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #444444;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 30px;
  }
  .overrow {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .intro {
    padding-left: 20px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  .productpic {
    flex: 40%;
  }
  .productpic img {
    margin-top: 20%;
    width: 200px;
  }
  .productinfo {
    flex: 60%;
    border-left: 1px solid rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
  }
  div.info {
    border-top: 1px solid rgb(190, 190, 190);
  }
  td {
    width: 320px;
    padding: 7px;
  }
  col:nth-child(odd) {
    text-align: right;
  }
  tr:nth-child(even) {
    background: #ccc;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
  div.info ul {
    list-style-type: none;
  }

  div.gallery {
    margin: 15px;
    border: 9px solid rgb(255, 255, 255);
    float: left;
    width: 180px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    margin-left: 39px;
  }
  div.gallery:hover {
    border: 9px solid rgb(255, 255, 255);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24),
      0 7px 30px 0 rgba(0, 0, 0, 0.19);
  }

  div.gallery img {
    padding-top: 10px;
    height: auto;
    align-items: center;
    width: 90%;
    margin-left: 10px;
    padding-bottom: 10px;
  }

  div.desc {
    margin-bottom: -20px;
    text-align: left;
    margin-left: 8px;
    line-height: 1px;
    overflow: auto;
  }
  .pages {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-right: 420px;
    margin-left: 500px;
  }
  .pages a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    text-align: center;
  }
  .back:hover,
  .next:hover {
    background-color: #ddd;
    color: black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .num:hover {
    background-color: rgb(36, 172, 138);
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .back,
  .next {
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding: 10px;
    width: 100px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .num {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 3px;
    margin-bottom: 0px;
    padding: 10px;
    width: 30px;
    margin-top: 0px;
  }
  /* Footer */
  #footer {
    display: flex;
    padding: 5px;
    padding-left: 130px;
    color: white;
    background: #a8a8a8;
    margin-top: 30px;
  }
  .left {
    flex: 30%;
  }
  div .contct {
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .facebook {
    float: left;
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
  .youtube {
    float: left;
    color: #000000;
    font-size: 31px;
  }
  .middle {
    flex: 30%;
  }
  div .contct2 {
    font-weight: lighter;
    margin-top: 35px;
  }

  .right {
    flex: 40%;
  }
  div .pay img {
    float: left;
    width: 350px;
    height: 150px;
  }
}

/* for phone*/
@media only screen and (max-width: 768px) {
  /* Style the header */
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 5px;
  }
  .myslides {
    display: none;
  }
  .logo img {
    width: 60px;
    height: 30.5px;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    padding-right: 2px;
    margin-left: 1.5%;
    font-size: 60%;
  }

  /* Style the navigation bar links */
  .navbar a {
    float: left;
    color: rgb(0, 0, 0);
    align-items: center;
    padding: 1% 0.5%;
    text-decoration: none;
  }
  .navbars {
    padding-top: 10px;
    margin-left: 3%;
  }
  .fa-map-marker {
    width: 8px;
    color: #148339;
  }
  .fa-phone {
    width: 8px;
  }
  /* Right-aligned link */
  .navbars a.right {
    padding-top: 3px;
    float: right;
  }

  /* Change color on hover */
  .navbars a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 3px solid currentColor;
    border-color: rgb(36, 172, 138);
  }
  .search {
    width: 90%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 50%;
    border: 1px solid rgb(112, 255, 219);
    border-right: none;
    padding: 5px;
    height: 15px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: rgb(112, 255, 219);
    font-size: 10px;
  }

  .searchTerm:focus {
    color: rgb(112, 255, 219);
  }

  .searchButton {
    width: 20%;
    height: 15px;
    border: 1px solid rgb(112, 255, 219);
    background: rgb(112, 255, 219);
    text-align: center;
    color: rgb(55, 156, 117);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 10px;
  }

  .wrap {
    width: 30%;
    position: absolute;
    top: 2.8%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  h2 {
    text-align: center;
    margin-left: 0px;
    font-size: 12px;
    border: 1px solid rgb(190, 190, 190);
    padding: 6px;
    margin-bottom: inherit;
  }

  .slide {
    width: 34.7%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(190, 190, 190);
    margin-bottom: 50px;
  }
  /* side column */
  .side {
    flex: 10%;
    background-color: #ffffff;
    width: 20%;
  }
  /* Main column */
  .main {
    flex: 80%;
    background-color: rgb(253, 253, 253);
    padding-right: 0px;
    padding-top: 5px;
  }

  div .side ul {
    list-style-type: none;
    padding-right: 0px;
    margin-top: -2px;
    margin-bottom: 0px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    margin-left: -50px;
    font-size: 8px;
  }
  div .side ul li {
    /*border-bottom: 1px solid rgb(190, 190, 190);*/
    color: black;
    margin-left: -50px;
    border: 1px solid rgb(190, 190, 190);
    padding: 5px;
    padding-left: 70px;
    margin-bottom: inherit;
  }
  div .side ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  div .side ul li :hover {
    text-decoration: none;
    margin-left: -30px;
    color: rgb(36, 172, 138);
    /* background: linear-gradient(
    to right,
    rgb(26, 167, 101) 26%,
    rgb(255, 255, 255) 25%
  );*/
    padding: 6px;
    padding-left: 30px;
  }
  /* Overlayer*/

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overlay-content {
    position: relative;
    top: 15%;
    padding-left: 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgb(247, 247, 247);
    padding-top: 10px;
  }

  .overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 10px;
    color: #020202;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #444444;
  }

  .overlay .closebtn {
    position: absolute;
    top: 2px;
    right: 7px;
    font-size: 20px;
  }
  .overrow {
    display: flex;
    flex-wrap: wrap;
    padding-top: px;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 50px;
  }
  .intro {
    padding-left: 20px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  .productpic {
    flex: 3%;
  }
  .productpic img {
    margin-top: 3%;
    width: 10%;
  }
  .productinfo {
    flex: 30%;
    border-left: 1px solid rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    font-weight: lighter;
    font-size: 10%;
  }
  div.info {
    border-top: 1px solid rgb(190, 190, 190);
  }
  td {
    width: 20%;
    padding: 0px;
  }
  col:nth-child(odd) {
    text-align: right;
  }
  tr:nth-child(even) {
    background: #ccc;
  }
  tr:nth-child(odd) {
    background: #fff;
  }
  div.info ul {
    list-style-type: none;
  }
  /*end of overlayer*/

  div.gallery {
    margin: 5px;
    border: 9px solid rgb(255, 255, 255);
    float: left;
    width: 80px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    margin-left: 7px;
  }
  div.gallery:hover {
    border: 9px solid rgb(255, 255, 255);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24),
      0 7px 30px 0 rgba(0, 0, 0, 0.19);
  }

  div.gallery img {
    padding-top: 10px;
    height: auto;
    align-items: center;
    width: 90%;
    margin-left: 5px;
    padding-bottom: 4px;
  }

  div.desc {
    margin-bottom: -20px;
    text-align: left;
    margin-left: 0px;
    line-height: 1px;
    overflow: auto;
    font-size: 9px;
  }
  .pages {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .pages a {
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    text-align: center;
  }
  .back:hover,
  .next:hover {
    background-color: #ddd;
    color: black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .num:hover {
    background-color: rgb(36, 172, 138);
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .back,
  .next {
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 5px;
    width: 60px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .num {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 1px;
    margin-bottom: 0px;
    padding: 5px;
    width: 20px;
    margin-top: 0px;
  }
  /* Footer */
  #footer {
    display: flex;
    padding: 3px;
    padding-left: 10px;
    color: white;
    background: #a8a8a8;
    margin-top: 20px;
  }
  .left {
    flex: 30%;
    margin-right: 2%;
  }
  div .contct {
    flex-wrap: wrap;
    margin-top: 35px;
  }
  .facebook {
    float: left;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  .youtube {
    float: left;
    color: #000000;
    font-size: 21px;
  }
  .middle {
    flex: 30%;
    margin-right: 2%;
  }
  div .contct2 {
    font-weight: lighter;
    margin-top: 35px;
  }

  .right {
    flex: 40%;
  }
  div .pay img {
    float: left;
    width: 170px;
    height: 80px;
  }
  p {
    font-size: 9px;
  }
}
