* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* for desktop*/
@media only screen and (min-width: 768px) {
  .logo {
    padding: 1% 1% 1% 1%;
  }
  .logo img {
    margin-left: 10%;
    width: 5%;
    height: 5%;
  }
  /* Style the top navigation bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;
    width: 100%;
    top: 0;
    margin-top: 50px;

    /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  /* Style the navigation bar links */
  .nav a {
    text-decoration: none;
  }
  ul.navbars {
    float: right;
    list-style-type: none;
    margin-top: -4.5%;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    padding-right: 6%;
  }
  li.right {
    padding-right: 6%;
  }
  .navbars a:link,
  .navbars a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* Change color on hover */
  .navbars a:hover,
  .navbars a:active {
    color: rgb(8, 8, 8);
    border-bottom: 3px solid currentColor;
    border-color: #bd651e;
  }

  .navbars li {
    height: 100%;
    display: inline-block;
  }
  .navbars li .right1 {
    color: #000000;
    display: none;
    float: right;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 60%;
    border: 3px solid #f3c83d;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: #f3c83d;
  }

  .searchTerm:focus {
    color: rgb(0, 0, 0);
  }

  .searchButton {
    width: 50px;
    height: 30px;
    border: 1px solid #f3c83d;
    background: #f3c83d;
    text-align: center;
    color: #c66d25;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap {
    width: 30%;
    position: absolute;
    top: 8%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  /* Style the header */
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }
  .myslides {
    display: none;
  }
  .slide {
    flex: 100%;
  }
  .slide img {
    width: 100%;
  }

  /* Main column */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    padding-bottom: 10px;
    padding: 0% 3% 0% 3%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overlay-content {
    position: relative;
    top: 15%;
    padding-left: 20px;
    margin-right: 350px;
    margin-left: 350px;
    margin-top: 0px;
    background-color: rgb(247, 247, 247);
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 16px;
    color: #020202;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #444444;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 30px;
  }
  .overrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productpic {
    width: 35%;
  }

  div.gallery {
    margin: 15px 0 15px 40px;
    border: 9px solid rgb(255, 255, 255);
    float: left;
    width: 180px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  div.gallery:hover {
    border: 9px solid rgb(255, 255, 255);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24),
      0 7px 30px 0 rgba(0, 0, 0, 0.19);
  }

  div.gallery img {
    padding-top: 10px;
    height: auto;
    align-items: center;
    width: 90%;
    margin-left: 10px;
    padding-bottom: 10px;
  }

  div.desc {
    margin-bottom: -20px;
    text-align: left;
    margin-left: 8px;
    line-height: 1px;
    overflow: auto;
  }
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 4%;
  }
  .pages {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .pages a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    text-align: center;
  }
  .back:hover,
  .next:hover {
    background-color: #c66d25;
    color: black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .num:hover {
    background-color: #c66d25;
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .back,
  .next {
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding: 10px;
    width: 100px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .num {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 3px;
    margin-bottom: 0px;
    padding: 10px;
    width: 30px;
    margin-top: 0px;
  }
  /* Footer */
  #footer {
    padding: 1% 1% 1% 5%;
    color: white;
    background: #a8a8a8;
    margin-top: 0px;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
  }
  .left {
    text-decoration: none;
    flex: 30%;
    font-size: 0.8em;
    margin-top: -103px;
  }

  .facebook {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 100%;
  }
  .instagram {
    color: #000000;
    text-decoration: none;
    font-size: 100%;
  }
  .middle {
    flex: 30%;
    width: 100%;
    margin-top: -105px;
    font-size: 0.8em;
  }
  div .contct2 {
    font-weight: lighter;
  }

  .right {
    flex: 40%;
    width: 100%;
    margin-top: 0%;
    font-size: 0.8em;
  }
  .paym {
    padding-top: 0.008px;
    width: 85%;
    text-align: center;
    color: #000000;
    background-color: white;
    font-size: 1.2em;
  }
  .payme {
    padding-top: 0.5%;
    display: flex;
    padding-right: 2%;
  }
  .payme h4 {
    font-size: 0.7rem;
  }
  div .pay img {
    width: 40%;
    margin: 0% 0% 6% 0%;
  }

  .design {
    background: #a8a8a8;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.8em;
  }
}

/* for phone*/
@media only screen and (max-width: 768px) {
  /* Style the header */

  .logo {
    padding: 3% 1% 1% 1%;
  }
  .logo img {
    margin-left: 10%;
    width: 8%;
    height: 8%;
  }
  /* Style the top navigation bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background: #faf3f7;
    width: 100%;
    top: 0;
    margin-top: 50px;

    /**
   * This height needs to be the same value as the
   * value of the padding-top which is applied on the body.
   * This is needed so that the navigation content and the body
   * content do not collied with each other.
   */
    height: 50px;
  }

  nav * {
    margin: 0;
    padding: 0;
  }

  /* Style the navigation bar links */
  .nav a {
    text-decoration: none;
  }
  ul.navbars {
    float: right;
    list-style-type: none;
    margin-top: -9.1%;
    white-space: nowrap;
    overflow-x: auto;
    font-family: "Lato", sans-serif;
    font-size: 0.8em;
    padding-right: 5%;
    text-decoration: none;
  }

  .navbars a:link,
  .navbars a:visited {
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
  }

  /* Change color on hover */
  .navbars a:hover,
  .navbars a:active {
    color: rgb(8, 8, 8);
    border-bottom: 3px solid currentColor;
    border-color: #bd651e;
  }

  .navbars li {
    height: 100%;
    display: inline-block;
  }
  .navbars li .right {
    color: #000000;
    display: none;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #f3c83d;
    border-right: none;
    padding: 4px;
    height: 26px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color: #000000;
    background-color: #f3c83d;
  }

  .searchTerm:focus {
    color: rgb(0, 0, 0);
  }

  .searchButton {
    width: 50px;
    height: 26px;
    border: 1px solid #f3c83d;
    background: #f3c83d;
    text-align: center;
    color: #c66d25;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .wrap {
    width: 50%;
    position: absolute;
    top: 3.2%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  /* Style the header */
  .header {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
  }
  .myslides {
    display: none;
  }
  .slide {
    flex: 100%;
  }
  .slide img {
    width: 100%;
  }
  h2 {
    text-align: center;
    margin-left: 0px;
    font-size: 12px;
    border: 1px solid rgb(190, 190, 190);
    padding: 6px;
    margin-bottom: inherit;
  }

  /* Main column */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
    padding-bottom: 10px;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .overlay-content {
    position: relative;
    top: 20%;
    padding-left: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    background-color: rgba(247, 247, 247, 0.712);
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .overlay a {
    padding: 4px;
    text-decoration: none;
    font-size: 16px;
    color: #020202;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #444444;
  }

  .overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 7px;
    font-size: 30px;
  }
  .overrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productpic {
    width: 85%;
  }

  div.gallery {
    margin: 3% 3% 1% 1%;
    border: 9px solid rgb(255, 255, 255);
    float: left;
    width: 29%;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  div.gallery:hover {
    border: 9px solid rgb(255, 255, 255);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24),
      0 7px 30px 0 rgba(0, 0, 0, 0.19);
  }

  div.gallery img {
    padding-top: 10px;
    height: auto;
    align-items: center;
    width: 90%;
    margin-left: 5px;
    padding-bottom: 4px;
  }

  div.desc {
    margin-bottom: -18px;
    text-align: left;
    margin-left: -5px;
    line-height: 1px;
    margin-right: -10px;
    font-size: 12px;
  }
  .page {
    margin: 3% 0% 4% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pages {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .pages a {
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    text-align: center;
  }
  .pages a :link,
  .pages a :visited {
    background-color: rgb(36, 172, 138);
    text-decoration: none;
    display: inline-block;
    font-size: 9px;
    text-align: center;
  }
  .back:hover,
  .next:hover {
    background-color: #c66d25;
    color: black;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .num:hover {
    background-color: #c66d25;
    color: rgb(0, 0, 0);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  }
  .back,
  .next {
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(117, 117, 117);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 5px;
    padding: 5px;
    width: 60px;
    margin-bottom: 8px;
    margin-top: 0px;
  }
  .num {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.24),
      0px 4px 3px 0px rgba(0, 0, 0, 0.19);
    margin: 1px;
    margin-bottom: 0px;
    padding: 5px;
    width: 20px;
    margin-top: 0px;
  }
  /* Footer */
  #footer {
    padding: 1% 1% 1% 2%;
    color: white;
    background: #a8a8a8;
    margin-top: 0px;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
  }
  .left {
    text-decoration: none;
    flex: 30%;
    font-size: 0.7em;
    margin-top: -51px;
  }

  .facebook {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 100%;
  }
  .instagram {
    color: #000000;
    text-decoration: none;
    font-size: 100%;
  }
  .middle {
    flex: 30%;
    width: 100%;
    margin-top: -28px;
    margin-left: -25px;
    margin-right: 9px;
    font-size: 0.7em;
  }
  div .contct2 {
    font-weight: lighter;
  }

  .right {
    flex: 40%;
    width: 100%;
    margin-top: 0%;
    font-size: 0.7em;
  }
  .paym {
    padding-top: 0.008px;
    width: 100%;
    text-align: center;
    color: #000000;
    background-color: white;
    font-size: 0.7em;
  }
  .payme {
    padding-top: 0.5%;
    display: flex;
    padding-right: 2%;
  }
  .payme h4 {
    font-size: 0.5rem;
  }
  div .pay img {
    width: 60%;
    margin: 0% 0% 6% 0%;
  }
  .design {
    background: #a8a8a8;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.7em;
  }
}
